// COLORS
$white: #FFFFFF;
$gray: #A7A7A7;
$gray-2: #636363;
$gray-3: #333333;
$gray-4: #E8E8E8;
$blue: linear-gradient(233.1deg, #216190 19.65%, #0834D0 81.25%);
$blue-2: #1E34A5;
$red: #DA3F5B;
$red-2: #F15557;

// FONTS
$default-font: "Open Sans", sans-serif